<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<table>
  <tbody>
    <tr>
      <p> Olá, {{name}}! Seja Bem-vindo(a).
      <p> Sua senha temporária foi criada. Utilize-a para entrar no sistema. Lembre-se de atualizá-la no primeiro acesso.
    </tr>
    <tr>
      <div class="box-button">
        <h3> {{password}}</h3>
      </div>
    </tr>
  </tbody>
</table>
