
p, a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000;
}

table {
  width: 100%;
}

tr {
  text-align: center;
}

#logo{
  width: 10% !important;
}
.box-button{
  text-align: center;
  padding: 3px;
  width: 150px;
  border-radius: 15px;
  font-size: 1.5rem;
  background: #253f6b;
  color: #ffffff;
  box-shadow: 0 0 10px 4px #0000004f;
  display: inline-block;
}

a{
  text-decoration: none;
  color: #fff !important;
}
